<!doctype html>
<html lang="en">

<head>
    <title>Mafia</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/main.css">
</head>

<body>

        <!-- <% if(data && data.length > 1) { %>}
                        <div id="playerList">
                            <h2>Players </h2>
                            <form action="/#" method="POST">
                                <button class="btn btn-success btn-sm" id="refresh">Refresh</button>
                            </form>
                    

                <% } %> -->