<!doctype html>
<html lang="en">
<head>
    <title>Mafia</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/c1a2801db9.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="stylesheets/host.css">
</head>

<body>
    <div class="jumbotron">
        <h1 class="display-4">Mafia (MMBH)<hr class="my-4"></h1>
        
        <div class="container">
            <div class="row">
                <div class="col-5">
                    <h1 class="display-5">Player <i class="fas fa-angle-double-right leftArrow"></i><br>Count</h1>
                </div>
                <div class="col-7">
                    <form action="/host/4" method="POST">
                        <input type="submit" class="btn btn-primary floatL players" value="4">
                    </form>     
                    <form action="/host/5" method="POST">
                        <input type="submit" class="btn btn-primary floatL players" value="5">
                    </form>
                    <form action="/host/6" method="POST">
                        <input type="submit" class="btn btn-primary floatL players" value="6">
                    </form>
                    <br><br>
                    <form action="/host/7" method="POST">
                        <input type="submit" class="btn btn-primary floatL players" value="7">
                    </form>
                    <form action="/host/8" method="POST">
                        <input type="submit" class="btn btn-primary floatL players" value="8">
                    </form>
                    <form action="/host/9" method="POST">
                        <input type="submit" class="btn btn-primary floatL players" value="9">
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>