body {
    background-color: rgb(48, 40, 40);
    text-align: center;
    margin-top: 10%;
}   
h1 {
    margin-bottom: 5rem;
}
button {
    float: left;
}
.jumbotron {
    background-color: rgb(138, 138, 138);
}
#hostBtn {
    float: right;
}