body {
    background-color: rgb(48, 40, 40);
    text-align: center;
    margin-top: 10%;
}   
.jumbotron {
    background-color: rgb(138, 138, 138);
}

#hostBtn {
    float: right;
}
#playerBtn {
    float: left;
}